{% extends "base.html" %}
{% block content %}
<form action="" method="post">
    {{ object }}
    <p>Вы уверены что хотите удалить эту фотографию?</p>
    <input type="submit" value="Удалить" />
</form>
{% endblock %}